body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f5f5f5;
  font-family: "Open Sans", sans-serif; }
  body p {
    margin: 0; }

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  padding-right: 0;
  padding-left: 0; }

@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1116px; } }
.nav-items {
  gap: 32px; }

.nav-item p {
  font-size: 10px; }
.nav-item img {
  width: 24px;
  height: 24px; }

@media (max-width: 576px) {
  .header {
    padding: 0 10px; }

  .nav-items {
    margin: 10px 0; } }
.main {
  margin-top: 44px; }

@media (min-width: 576px) {
  .main {
    margin-top: 56px; } }
.breadcrumb {
  padding-bottom: 32px; }

.breadcrumb-item + .breadcrumb-item::before {
  content: "\2192";
  padding: 0 10px;
  margin-top: -2px; }

.breadcrumb-item + .breadcrumb-item {
  padding-left: 0; }

.wrapper-card-game {
  min-width: 0; }

.card-game {
  background-image: linear-gradient(to right, white 45%, rgba(255, 255, 255, 0)), url("/image/amur.png");
  background-position: right;
  height: 361px;
  position: relative; }
  .card-game .popular {
    position: absolute;
    right: 0;
    width: 115px;
    text-align: center;
    border-radius: 3px;
    font-size: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 11px 14px 0 0; }

.info .title {
  margin: 32px 0 19px 31px; }
  .info .title h1 {
    font-size: 36px;
    font-weight: 800;
    margin: 0; }

.tags {
  margin-left: 24px;
  max-width: 321px; }
  .tags p {
    display: inline-block;
    background-color: rgba(28, 28, 28, 0.05);
    padding: 4px 12px;
    font-size: 14px;
    font-weight: 570px;
    margin-bottom: 6px; }

.description {
  margin: 12px 0 32px 24px;
  line-height: 21.5px;
  max-width: 321px; }

@media (max-width: 576px) {
  .card-game {
    background-image: linear-gradient(to top, white 60%, rgba(255, 255, 255, 0)), url("/image/amur.png");
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    height: 600px;
    justify-content: flex-end;
    position: relative; }
    .card-game .popular {
      position: absolute;
      left: 0;
      top: 0;
      width: 115px;
      text-align: center;
      border-radius: 3px;
      font-size: 10px;
      background-color: rgba(255, 255, 255, 0.8);
      margin: 6px 0 0 6px; }

  .info {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .info .title {
      margin: 0 0 18px 0; }
      .info .title h1 {
        font-size: 28px;
        font-weight: 800;
        margin: 0; }

  .tags {
    max-width: 226px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .tags p {
      display: inline-block;
      background-color: rgba(28, 28, 28, 0.05);
      padding: 4px 12px;
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 6px; }

  .description {
    margin: 18px 16px 28px 16px;
    text-align: center; } }
.count-reviews {
  font-size: 28px;
  color: #424242;
  font-weight: 800; }
  .count-reviews sup {
    font-weight: 500; }

.count-reviews-mobile {
  margin-left: 18px;
  font-size: 13px;
  color: #424242; }

.cards-review {
  overflow-x: auto; }
  .cards-review .card-review {
    width: 261px;
    padding: 30px 24px;
    flex: 0 0 auto; }
    .cards-review .card-review .date {
      font-size: 13px;
      color: #868686;
      margin-bottom: 16px; }
    .cards-review .card-review .name-rating {
      height: 66px; }
    .cards-review .card-review .name {
      font-size: 14px;
      font-weight: 700; }
    .cards-review .card-review .holiday {
      margin: 16px 0 12px 0;
      font-weight: 700; }
    .cards-review .card-review .review {
      font-size: 14px;
      height: 244px; }
    .cards-review .card-review .checked {
      color: orange; }

.button-review {
  margin: 24px 0; }

.slide {
  margin-top: 10px; }

.button-review .btn {
  background-color: #f77833;
  border-color: #f77833;
  color: white;
  width: 437px;
  height: 52px;
  font-weight: 500; }
  .button-review .btn:hover {
    background-color: #e66a2d;
    border-color: #e66a2d;
    color: white; }
  .button-review .btn:active {
    background-color: #e66a2d;
    border-color: #e66a2d; }

.slideshow {
  gap: 6px;
  margin: 6px 0; }

.button-buy-wrapper-mobile {
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px; }
  .button-buy-wrapper-mobile .button-review {
    margin: 0; }

@media (min-width: 576px) {
  .reviews-customer {
    margin-bottom: 70px; } }
@media (min-width: 992px) {
  .reviews-customer {
    margin-bottom: 0; } }
@media (max-width: 576px) {
  .reviews-customer {
    margin: 0 12px;
    margin-bottom: 70px; }
    .reviews-customer .count-reviews {
      font-size: 24px;
      margin: 24px 0 0 18px; }
      .reviews-customer .count-reviews sup {
        display: none; }
    .reviews-customer .cards-review {
      gap: 10px; }
    .reviews-customer .button-review {
      margin-top: 10px; } }
@media (max-width: 992px) {
  .button-review {
    margin-top: 10px; } }
.card-buy {
  position: sticky;
  top: 70px;
  padding: 23px 20px;
  height: 230px;
  min-width: 261px; }
  .card-buy .payment {
    font-size: 13px;
    color: rgba(56, 56, 56, 0.8); }
  .card-buy .different-country a {
    color: #f77833; }
  .card-buy .btn {
    background-color: #f77833;
    border-color: #f77833;
    color: white;
    font-weight: 500; }
  .card-buy .btn:hover {
    background-color: #e66a2d;
    border-color: #e66a2d;
    color: white; }

/*# sourceMappingURL=style.css.map */
